<div id="viewport">
    <div id="sidebar">
      <header>
        <a href="#">Exam Hall Seat</a>
      </header>
      <ul class="nav text-center">
        <li class="nav-item" style="margin-left: 20px;">
          <a class="nav-link" href="#" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  routerLink="/managerooms">Manage Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  routerLink="/universityrooms">University Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/seatallocation">Seat Allocation</a>
        </li>
       
        <li class="nav-item" style="margin-top: 350px; margin-left: 50px;">
          <a class="nav-link" href="#" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>
    
  <!-- Hero section -->
  <section id="hero">
    <div class="container">
        <div class="row">
           <div class="col">
                <h1>Hi,<br>Welcome</h1>
                <p>Lorem, Ipsum dolor sit amet consectetur adipisicing elit. Amet soluta veniam voluptate aliquam deleniti labore quod quis illum, sapiente nam nesciunt magni voluptatibus voluptatem incidunt placeat consequuntur quaerat voluptatum expedita!</p>
              
             </div>
             <div class="col">
                 <img src="../../assets/undraw_Educator_re_ju47.png" alt="..." style="height: 350px;width: 450px;">
             </div>
        </div>
        <div class="row cards" style="margin-top: 100px;">
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card">
                  <div class="card-body">
                      <!-- here is where they add the ICON -->
                      <img src="../../assets/student-laptop-d.png" alt="..." class="icon">
                      <h5 class="card-title">Skills</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card">
                  <div class="card-body">
                      <!-- here is where they add the ICON -->
                      <img src="../../assets/business-man-01-d.png" alt="..." class="icon">
                      <h5 class="card-title">Experience</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card">
                  <div class="card-body">
                      <!-- here is where they add the ICON -->
                      <img src="../../assets/principal-02-d.png" alt="..." class="icon">
                      <h5 class="card-title">Projects</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
